<%- include('includes/head.ejs') %>
</head>
<body>
    <form action="/users" method="POST">
        <input type="text" name="username">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
