<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= docTitle %>
    </title>
</head>

<body>
    <% if (users.length > 0) { %>
        <ul>
        <% for (let user of users) { %>
            <li><%= user.userName %></li>
        <% } %>
        </ul>
    <% } else { %>
        <h1>No Users!</h1>
    <% } %>
</body>

</html>
